{% load custom_filters %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<title></title>
</head>
<body>
    <h2>Здравствуй, {{ user.username }}. Новая статья в твоём любимом разделе {{category.categoryName}}!</h2>
    <h2><a href="http://127.0.0.1:8000/{% url 'news:postDetail' post.pk %}">{{ post.title|Censor }}</a></h2>
    <p> {{ post.text|truncatechars:50 |Censor }} </p>
</body>
</html>